#largemap {
  width: 550px;
  height: 700px;
  border: 1px solid black;
  vertical-align:top;
}
#map {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  vertical-align:top;
}

#widemap {
  width: 1200px;
  height: 700px;
  border: 1px solid black;
  vertical-align:top;
}

.directions {
  height: 600px;
}
