html, body {
font-family: 'Roboto Slab', serif;
}
.bg_image {
/* background: #000 url("../images/bg_traffic.jpg") 0px -90px no-repeat !important; */
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
position: fixed;
width: 100%;
z-index:1;
top:0;
padding-bottom: 20px;
}


.logo {
margin-top:80px;
margin-bottom:30px;
}

.search_form_toptext{
text-align: center;
}
.search_form_toptext h4{
color:#fff;
font-weight:300;
}
.search_form_fields{
text-align: center;
}
.search_form_subtext{
margin: 10px 0px 60px;
color:#fff;
text-align: center;
font-weight: 300;
}


.jumbo_cta {
background:#fff;
border-bottom:1px solid #e8e8e8;
padding: 30px 0px;
position: relative;
z-index: 10;
/*margin-top:430px;*/
margin-top:340px;
}
.jumbo_cta h1{
font-weight: 300;
font-size: 46px
}
.jumbo_cta p.lead {
color:#969696;
font-size:16px;
font-weight: 300;
line-height: 21px;
}
.jumbo_cta a{
font-size: 20px;
font-weight: 300;
padding: 16px 30px;
}




.features {
background: #f4f4f4;
padding-top:90px;
position: relative;
z-index:10;
}
.features .featurette {
padding-top: 10px;
padding-bottom: 10px;
}
.features .featurette .featurette-heading{
font-size:42px;
font-weight: 700;
color:#000000;
padding-bottom:10px;

}
.features .featurette .featurette-heading .muted{
font-size:30px;
font-weight: 200;
color:#000000;
display: block;
padding-top: 7px;
}
.features .featurette p.lead {
font-size:18px; 
line-height:28px;
font-weight: 300;
}
.features  hr{
border-top-color:#e0e0e0 !important;
}



.bottom {
background: #fff;
}
#footer {
background:#fff;
padding-bottom: 30px;
font-size: 14px;
}
#footer a{
display: inline-block;
padding: 2px 7px;
font-size: 13px;
}



@media (max-width: 767px) {
  body {
  padding: 0px !important;
  }
  body section{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  body section.bg_image{
    padding: 0px 10px !important;
  }
  .search_form_toptext input {
    width:auto;
  }
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    width: auto;
  }
  .right-side {
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 10px;
    text-align: center;
  }
  .right-side .pull-right{
    float: none;
  }
  .logo img {
    max-width: 70%;
  }
}


