/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -120px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 120px;
        text-align:center;
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }


      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        /* max-width: 700px; */
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }




      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      /*
      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }

      */

      /* Custom container */
      .container {
        margin: 0 auto;
        /*max-width: 1000px;*/
      }

      .container > hr {
        margin: 60px 0;
      }



      .input-large {
        height: 20px !important;
        padding: 11px 19px !important;
        font-size: 19px !important;
        line-height: 19px !important;
      }

     /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }



          .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                    box-shadow: 0 1px 2px rgba(0,0,0,.05);
          }
          .form-signin .form-signin-heading,
          .form-signin .checkbox {
            margin-bottom: 10px;
          }
          .form-signin input[type="text"],
          .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
          }


    /* Featurettes
        ------------------------- */

        .featurette-divider {
          margin: 80px 0; /* Space out the Bootstrap <hr> more */
        }
        .featurette {
          padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
          overflow: hidden; /* Vertically center images part 2: clear their floats. */
        }
        .featurette-image {
          margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
        }

        /* Give some space on the sides of the floated elements so text doesn't run right into it. */
        .featurette-image.pull-left {
          margin-right: 40px;
        }
        .featurette-image.pull-right {
          margin-left: 40px;
        }

        /* Thin out the marketing headings */
        .featurette-heading {
          font-size: 50px;
          font-weight: 300;
          line-height: 1;
          letter-spacing: -1px;
        }

       /* RESPONSIVE CSS
           -------------------------------------------------- */

           @media (max-width: 979px) {

             .container.navbar-wrapper {
               margin-bottom: 0;
               width: auto;
             }
             .navbar-inner {
               border-radius: 0;
               margin: -20px 0;
             }

             .carousel .item {
               height: 500px;
             }
             .carousel img {
               width: auto;
               height: 500px;
             }

             .featurette {
               height: auto;
               padding: 0;
             }
             .featurette-image.pull-left,
             .featurette-image.pull-right {
               display: block;
               float: none;
               max-width: 40%;
               margin: 0 auto 20px;
             }
           }


           @media (max-width: 767px) {

             .navbar-inner {
               margin: -20px;
             }

             .carousel {
               margin-left: -20px;
               margin-right: -20px;
             }
             .carousel .container {

             }
             .carousel .item {
               height: 300px;
             }
             .carousel img {
               height: 300px;
             }
             .carousel-caption {
               width: 65%;
               padding: 0 70px;
               margin-top: 100px;
             }
             .carousel-caption h1 {
               font-size: 30px;
             }
             .carousel-caption .lead,
             .carousel-caption .btn {
               font-size: 18px;
             }

             .marketing .span4 + .span4 {
               margin-top: 40px;
             }

             .featurette-heading {
               font-size: 30px;
             }
             .featurette .lead {
               font-size: 18px;
               line-height: 1.5;
             }

           }

    #infoWindowReSize{
      /*width:420px;
      height:200px;*/
    }

    .right-side{
      position:absolute;
      right:0px;
      width:300px;
    }

    .boxed {
      border: 1px solid green ;
    }

   #intro {
    /*border: 1px solid #e5e5e5;*/
   }
    /* bootstrap sets the max width to zero which messes up infowindow.*/
    img { max-width : none }

    #geolocationMessageId {
        color:red;
        font-size:small;
        text-align:center;
    }

  img.logo{
    margin:0 auto;
    display:block;
    padding: 20px 0 25px 0;
  }

  .heading{
    background-color: #333333;
    color:white;
    text-align:center;
  }

  section {
    clear:both;
  }