      html,
      body {
       height: 100%;
       padding-top: 25px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -120px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 120px;
        text-align:center;
        background-color: #f5f5f5;
      }


    /* bootstrap sets the max width to zero which messes up infowindow.*/
    img { max-width : none }



