@import url("messages.css");
@import url("form.css");

a img, frameset, fieldset { 
	border: 0;
}

body {
	margin: 0px;
	margin-bottom: 10px;
	font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif !important;
	font-size: 1em;
	color: #666666;
}

#content {
	margin-left: 36px;
	margin-right: 36px;
}

#footer {
	font-size: .625em;
	text-align: center;	
}

h2 {
	font-size: 1.075em; 
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	padding: 0px;
}

li {
	list-style-type: none;
	margin-bottom: 2px;
}

#nav ul {
	padding: 5px;
}